.urgentWater {
    color: rgb(255, 0, 0);
  }
  .canWater {
    color: yellow;
  }
  .cannotWater {
      color: green;
  }
  .progressBar {
      background-color:orange;
      height: 100%;
  }
  .progressBarOuter {
    height: 1rem;
    width: 10rem;
}
